__pycache__/
app/__pycache__/
app/tabs/__pycache__/
app/core/__pycache__/
app/utils/__pycache__/
venv
old-imp
a_tmp/
app/tabs/about_tab.old.py
app/tabs/data_insights_tab.old.py
.streamlit/secrets.toml
col_indices_custom.json
