streamlit
pandas
numpy
scikit-learn
xgboost
plotly
joblib
requests
reportlab
openpyxl
shap
bcrypt
streamlit-cookies-manager
streamlit-oauth
matplotlib
statsmodels
firebase-admin
google-cloud-firestore