spacy==3.8.13
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz

streamlit==1.32.0
protobuf==3.20.3

pdfplumber
pandas
numpy
scikit-learn
xgboost
plotly
joblib
requests
reportlab
openpyxl
shap
mlxtend
xlrd
bcrypt
streamlit-cookies-manager
streamlit-oauth
matplotlib
statsmodels
firebase-admin
google-cloud-firestore