spacy==3.8.13
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz

streamlit==1.55.0
protobuf==3.20.3

numpy==2.4.0
pandas==2.3.3
scikit-learn==1.8.0
xgboost==3.2.0
joblib==1.5.3

plotly==6.5.2
matplotlib==3.10.8
statsmodels==0.14.6
shap==0.51.0
mlxtend==0.24.0

pdfplumber==0.11.9
reportlab==4.4.10
openpyxl==3.1.5
xlrd==2.0.2

requests==2.32.4
bcrypt==5.0.0

firebase-admin==7.3.0
google-cloud-firestore==2.25.0

streamlit-cookies-manager==0.2.0
streamlit-oauth==0.1.14